@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fore: #411530;
    --back: #f5e8e4;
    --primary: #d1512d;
    --secondary: #f5c7a9;
    --secondary-dark-smol: #e9c1a7;
    --secondary-dark: #c5a28a;
}


body {
    padding: 0;
    margin: 0;
    background-color: var(--back);

    font-family: Poppins;
    overflow-x: hidden;
}

button {
    font-family: Poppins;
}

.navbar {
    font-size: 1.5rem;

    color: var(--back);
    padding-right: 1rem;
    box-shadow: 0 0 10px 2px #050505;
    background-color: var(--fore);


    position: sticky;
    z-index: 100;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 3.5rem
}

.navbar a {
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    font-size: 0;
}

.nav {
    display: flex;
    gap: 1rem;

    font-size: 1rem;

}

.nav>a {
    text-decoration: none;
    color: var(--secondary);
    text-decoration: underline;
}

.main {
    display: flex;
}

section {
    flex-grow: 1;
}

aside {
    /* flex: 0 1 20%; */
    min-width: 25%;
}

.index {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.5rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.index button {
    position: absolute;
    bottom: 4rem;

    font-size: 3rem;

    border: 3px solid var(--fore);
    transition: transform 150ms ease;
}

.index button:hover {
    transform: scale(1.125);
}

.shop {
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

.cart {
    height: calc(100vh - 3.75rem);
    box-shadow: 0 2px 6px 2px #686868;
    padding: 1rem 0.25rem;

    position: sticky;
    top: 3.5rem;

    transition: transform 200ms ease;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-object-container {
    flex: 1 0 95%;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: start;

    flex-direction: column;
    gap: 0.75rem;

    overflow: auto;
}

.cart-close {
    transform: translateX(100%);
}

.cart-open {
    transform: translateX(0%);
}

.cart-toggle {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--fore);
    border: none;
    padding: 0.5rem;
    color: var(--secondary);

    box-shadow: -2px 0 6px 2px #686868;
    transform: translate(-100%, 40%);

}

.cart-toggle:hover {
    cursor: pointer;
}

.card {
    padding-bottom: 1rem;
    border: 1px solid black;
    width: 17rem;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.card-button>button,
.index-btn {
    position: relative;
    color: var(--fore);
    font-weight: 700;
    border: 1px solid var(--secondary-dark);
    background-color: var(--secondary);
    padding: 0.5rem 1rem;

    transition: background-color 100ms ease;
}

.card-button>button:hover,
.index-btn:hover {
    background-color: var(--secondary-dark-smol);
    cursor: pointer;
}

/* .cart-button > button::before {
    content: '';
    background: url('./assets/cart.svg');
    width: 100px;
    height: 100px;
} */

.card-button>button i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    height: 8px;
    background: red;
    opacity: 0;
}

.card-img img {
    width: calc(17rem - 1px);
    height: 17rem;
}

.cart-object {
    max-height: 10rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: 1px solid black;
    padding: 0.5rem;

}

.card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.card-desc span {
    font-weight: 700;
}

.cart-object-desc {
    flex: 1 0 50%;
}

.cart-object-desc {
    position: relative;
}

.cart-object-qty {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.cart-object-qty button {
    padding: 0 0.5rem;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5rem;

    border: 1px solid var(--fore);
    border-radius: 2px;
    background-color: var(--secondary);

    cursor: pointer;
}

.cart-object-qty button:hover {
    background-color: var(--secondary-dark-smol);
}


.cart-object-img {
    flex: 1 0 30%;
}

.cart-object-img img {
    /* height: 8rem; */
    height: 6rem;
}

.dashed-placeholder {
    border: 2px dashed #686868;
    height: 80%;
    background: #ccc;
    margin: 10px 0px 50px 0px;
    padding: 8px 0px 10px 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    flex-direction: column;
}

.dashed-placeholder p {
    color: #686868;
    font-size: 1.25rem;
    margin: 0;
}


.center-me-nya {
    justify-content: center;
}

@keyframes bang {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.gray-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.8);
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.proceed-to-checkout-modal {
    background: white;
    border-radius: 0.25rem;
    height: 200px;
    width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.index-modal {
    background: white;
    border-radius: 0.25rem;
    height: 600px;
    width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.index-modal h3 {
    font-size: 1.5rem;
}
.index-modal pre {
    font-family: Poppins;
    font-size: 0.75rem;
}

.modal-border {
    --gap: 8px;
    width: calc(100% - var(--gap));
    height: calc(100% - var(--gap));

    border: 1px solid black;
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1.5rem;
}

.modal-open {
    overflow: hidden;
}

.hide {
    display: none;
}
