*,
** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fore: #411530;
    --back: #f5e8e4;
    --primary: #d1512d;
    --secondary: #f5c7a9;
    --secondary-dark-smol: #e9c1a7;
    --secondary-dark: #c5a28a;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--back);

    overflow-x: hidden;
}

.navbar {
    font-size: 1.5rem;

    padding: 1rem 1rem;
    color: var(--back);

    box-shadow: 0 0 6px 6px #686868;
    background-color: var(--fore);

    
    position: sticky;
    z-index: 100;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1rem;

    font-size: 1rem;

}

.nav > a {
    text-decoration: none;
    color: var(--secondary);
    text-decoration: underline;
}

.main {
    width: 100%;
    display: flex;
    justify-content: stretch;
    gap: 1rem;

    /* overflow: hidden; */
}

section {
    flex: 1 0 75%;
}
aside {
    flex: 1 0 20%;
}

.shop {
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.cart {
    height: calc(100vh - 6rem);
    box-shadow: 0 2px 6px 2px #686868;
    padding: 1rem 0.5rem;

    position: sticky;
    top: 3.75rem;

    transition: transform 100ms ease;
}

.cart-object-container {
    height: 100%;
    display: flex;
    justify-content: start;

    flex-direction: column;
    gap: 0.75rem;

    overflow: auto;
}

.cart-close {
    transform: translateX(100%);
}
.cart-open {
    transform: translateX(0%);
}

.cart-toggle {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--fore);
    border: none;
    padding: 0.5rem;
    color: var(--secondary);

    box-shadow: -2px 0 6px 2px #686868;
    transform: translate(-100%, 40%); 
}

.cart-toggle:hover {
    cursor: pointer;
}

.card {
    padding: 1rem;
    border: 1px solid black;
    width: 22rem;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.card-button > button {
    position: relative;
    color: var(--fore);
    font-weight: 700;
    border:  1px solid var(--secondary-dark);
    background-color: var(--secondary);
    padding: 0.5rem 1rem;

    transition: background-color 100ms ease;
}

.card-button > button:hover {
    background-color: var(--secondary-dark-smol);
    cursor: pointer;
}

/* .cart-button > button::before {
    content: '';
    background: url('./assets/cart.svg');
    width: 100px;
    height: 100px;
} */

.card-button > button i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    height: 8px;
    background: red;
    opacity: 0;
}

.card-img img {
    width: 20rem;
    height: 20rem;
}

.cart-object {
    max-height: 10rem;

    display: flex;
    align-items: center;
    gap: 2rem;

    border: 1px solid black;
    padding: 0.5rem;
}

.card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cart-object-desc {
    flex: 1 0 50%;
}

.cart-object-desc {
    position: relative;
}

.cart-object-qty {
    display: flex;
    gap: 1rem;
}

.cart-object-img img {
    height: 8rem;
}

@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}